@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.memory {
  display: table;
}

.memory thead {
  display: table-header-group;
  font-weight: bold;
}

.memory tbody {
  display: table-row-group;
}

.memory th, .memory td {
  padding: 0.5em;
  border: 1px solid var(--foreground);
  text-align: center;
  display: table-cell;
  width: 3em;
  height: 3em;
}

.program {
  font-size: 2em;
  width: 16em;
  height: 8em;
}

.program:read-write {
  background-color: white;
}

.program:read-only {
  background-color: gray;
}

button.key {
  font-size: 4em;
  background-color: white;
  border-radius: 0.5em;
}

button.key:hover {
  background-color: lightgray;
}

button.key:active {
  background-color: gray;
}

button.key:disabled {
  background-color: gray;
}

.debug {
  font-size: 3em;
}